<header>
    <img src="assets/img/lindomar.png"  alt="Lindomar Farineli - foto perfil" width="130" height="129" loading="eager"/>
    <h1>Lindomar Farineli</h1>
   
</header>

<aside>
    <div class="container">
        <p>Empresário | Investidor | Filantropo | Desenvolvedor de Softwares </p>
        <p>São José do Rio Preto, São Paulo - Brasil</p>
        <p>Estou na área de investimentos a mais de 10 anos, por isso resolvi criar minha própria empresa de investimentos</p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"> Download CV</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lindomarfarineli/" target="_blank" class="btn btn-secondary"> LinkedIn </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="ícone de contato para whatsapp" width="22" height="24"/>
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5517992160110&text=ol%c3%A1%20Lindomar,%20quero%20investir!"
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>whatsapp: (17) 99216-0110</p>
                </a>
                </figcaption>
            </figure>
           
            <figure>
                <img src="assets/icons/mail.svg" alt="ícone de contato para e-mail" width="22" height="24"/>
                <figcaption>
                    <a href="mailto:lindomarfarineli@hotmail.com"
                    target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>lindomarfarineli&#64;hotmail.com</p>
                </a>
                </figcaption>
            </figure>
            
        </section>
    </div>
</aside>
